{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="adicionar">
        <a href="/autor/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Autor</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for a in autor %}
        <tr>
            <td>{{c.nome}}</td>
            <td>{{c.email}}</td>
            <td>{{c.editor.nome}}</td>
            <td><a href="/autor/edit/{{a.id_autor}}">[E]</a></td>
            <td><a href="/autor/remove/{{a.id_autor}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}