{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
        <div>
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <form action="/editoras/edit-save" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="cidade">Cidade: </label>
            <input type="text" name="cidade" id="cidade">
        </div>
        <input type="hidden" name="id_editora" id="id_editora" value="{{editoras.id_editora}}">
        <button type="submit">Salvar</button>
    </form>
{% endblock %}